{% extends "../admin-layout.njk" %}

{% block title %}
    <title>Foodfy - Editar Chef</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/admin.css">
    <link rel="stylesheet" href="/styles/admin-chefs.css">
    <link rel="stylesheet" href="/styles/messages.css">
{% endblock %}

{% block content %}
    <main>
        <section class="top-view">
            <h2>Editando chef</h2>
            <div class="edit-buttons">
                <form id="form-delete" method="POST" action="/admin/chefs/{{ chef.id }}?_method=DELETE">
                    <input type="hidden" name="id" value="{{ chef.id }}">
                </form>

                <button class="default-btn" form="form-delete" id="btn-delete" type="submit" onclick = "return confirm ('Tem certeza de que deseja excluir o chef?')">Deletar</button>
                <button class="default-btn" form="putForm" type="submit">Salvar chef</button>
            </div>
        </section>

        <form id="putForm" method="POST" action="/admin/chefs/{{ chef.id }}?_method=PUT" enctype="multipart/form-data">
            {% include './fields.njk' %}
            <input type="hidden" name="id" value="{{ chef.id }}">
        </form>
    </main>
{% endblock %}