<div class="item">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" placeholder="Digite seu email">
</div>

<div class="item">
    <label for="password">Nova Senha</label>
    <input type="password" name="password" id="password" placeholder="Digite sua nova senha">
</div>

<div class="item">
    <label for="passwordRepeat">Repetir Senha</label>
    <input type="password" name="passwordRepeat" id="passwordRepeat" placeholder="Repita a nova senha">
</div>

<div class="actions">
    <input type="hidden" name="token" value="{{ token }}">
    <button type="submit">Nova Senha</button>
</div>