{% extends "../layout.njk" %}

{% block css %}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap">
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/site-chefs.css">
{% endblock %}

{% block content %}
  <main>
    <section class="list-chefs">
      {% for chef in chefs %}
        <div class="chef">
            <section
                class="chef-img"
                style="background: url( {{ chef.image }} ) no-repeat center center / cover">
            </section>

            <div class="chef-description">
                <h3>{{ chef.name }}</h3>
                <p>{{ chef.total_recipes }} receitas</p>
            </div>
        </div>
      {% endfor %}
    </section>
  </main>
{% endblock %}