{% extends "../layout.njk" %}

{% block css %}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap">
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/filter.css">
  <link rel="stylesheet" href="/styles/site-index.css">
  <link rel="stylesheet" href="/styles/site-recipes.css">
{% endblock %}

{% block search %}
  {% include '../parts/site/search-form.njk' %}
{% endblock %}

{% block content %}

  <section class="banner">
    <div>
      <div id="banner-title">
        <h1>As melhores receitas</h1>
      </div>

      <div id="banner-text">
        <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
      </div>
    </div>

    <div id="banner-img">
      <img src="/assets/chef.png" alt="Imagem do Chef">
    </div>
  </section>
  
  <main>
    <h2>Mais acessadas</h2>

    {% include '../parts/site/recipes-grid.njk' %}
  </main>

{% endblock %}