{% extends "../layout.njk" %}

{% block title %}
  <title>Foodfy - Receitas</title>
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap">
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/filter.css">
  <link rel="stylesheet" href="/styles/site-recipes.css">
{% endblock %}

{% block search %}
  {% include '../parts/site/search-form.njk' %}
{% endblock %}

{% block content %}
  <main>
    <div class="recipes-container">

      {% if filter %}
        <h2>Buscando por "{{ filter }}"</h2>
      {% endif %}
      
      {% include '../parts/site/recipes-grid.njk' %}

      {% include '../parts/site/pagination.njk' %}

    </div>
  </main>
{% endblock %}