{% extends "../admin-layout.njk" %}

{% block title %}
    <title>Foodfy - Editar Receita</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/admin.css">
    <link rel="stylesheet" href="/styles/admin-recipes.css">
    <link rel="stylesheet" href="/styles/messages.css">
{% endblock %}

{% block content %}
    <section class="top-view">
        <h2>Editando receita</h2>
        
        <div class="edit-buttons">
            <form id="form-delete" method="POST" action="/admin/recipes/{{ recipe.recipe_id }}?_method=DELETE" enctype="multipart/form-data">
                <input type="hidden" name="id" value="{{ recipe.recipe_id }}">
            </form>

            <button form="form-delete" class="default-btn" id="btn-delete" type="submit" onclick = "return confirm ('Tem certeza de que deseja excluir a receita?')">Deletar</button>
            <button form="putForm" class="default-btn" type="submit">Salvar receita</button>
        </div>
    </section>

    <form id="putForm" method="POST" action="/admin/recipes/{{ recipe.recipe_id }}?_method=PUT" enctype="multipart/form-data">
        {% include './fields.njk' %}
        <input type="hidden" name="id" value="{{ recipe.recipe_id }}">
    </form>
{% endblock %}