<section class="grid-recipes">

    {% for recipe in recipes %}
        <div class="recipe">

            <a href="/recipes/{{ recipe.recipe_id }}">
                <div
                    {% for image in recipe.recipe_images %}
                        class="recipe-image"
                        style="background: url( {{ image }} ) no-repeat center center / cover"
                    {% endfor %}>
                </div>

                <h3>{{ recipe.title }}</h3>
                
                <p>por {{ recipe.chef_name }}</p>
            </a>

        </div>
    {% endfor %}

</section>