<form class="form-filter" action="/search" method="GET">
    <input
      type="text"
      name="filter"
      class="search"
      placeholder="Buscar uma receita"
      value="{{ filter }}"
    >
    <button type="submit">Buscar</button>
</form>